CSBot.Robots/_ReSharper.*
CSBot.Robots/CSBot.Robots.*.ReSharper.user
CSBot.Robots/*.cache
CSBot.Robots/*/bin*
CSBot.Robots/*.ncrunch*
*s.suo
*.ncrunchproject
*/obj/*
*/obj/*
CSBot.Robots/CSBot.Robots/obj/*
CSBot.Robots/CSRobots/obj/*
CSBot.Robots/CSRobotsNoUI/obj/*
*.user
CSBot.Robots/SittingDuck/obj/*
CSBot.Robots/CSRobots.ViewModels/obj/*
CSBot.Robots/NervousDuck/obj/*
TheBots/_ReSharper.TheBots/*
TheBots/TheBots/bin/*
TheBots/TheBots/obj/*
TheBots/TheBots.ncrunchsolution
TheBots/Kite2/bin/*
TheBots/Kite2/obj/*
